.detail_container {
    margin: 32px auto;
    background-color: white;
    max-width: 1044px;
    border-radius: 50px;
    padding: 48px;
    width: 100%;
}
.detail_image {
    width: 100%;
}
.detail_sneakers {
    display: flex;
    
}
.left, right {
    width: 50%;
}
.row_title {
    padding-bottom: 20px;
    border: 1px solid black;
}
.detail_title {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 400;
    
}
.detail_subtitle {
    font-size: 36px;
    font-weight: 400;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

/* стили для футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
}
* {
    box-sizing: border-box;
}
.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.logo-link {
    max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}